$color__base: #777;
$color__white: #fff;

$color__blue-eletric: #7ee6fd;
$color__blue-turquoise: #51ddfc;
$color__blue-viking: #4da2bb;
$color__green-downy: #58e1c1;
$color__green-chinook: #88d9a0;
$color__green-emerald: #63cc82;
$color__green-riptide: #80e8d1;
$color__grey-very-light: #ccc;
$color__orange-tangerine: #fd9f85;
$color__purple-mauve: #deb2ee;
$color__purple-violet: #927bc1;
$color__red-coral: #fd7856;
$color__red-froly: #e4757a;
$color__red-wewak: #ec9fa3;

$color__primary: $color__blue-turquoise;
$color__secondary: $color__green-downy;

$breakpoint__tablet: 768px;
$breakpoint__desktop: 1024px;

$border__radius: 5px;

$font-url__google: "https://fonts.googleapis.com/css?family=Lato:300,400,700,900";

$font-family__primary: "Lato", sans-serif;
$font-size__base: 16px;

$font-weight__thin: 100;
$font-weight__light: 300;
$font-weight__regular: 400;
$font-weight__bold: 700;
$font-weight__black: 900;
