@import "../utilities/variables";
@import "../utilities/mixins";

$buttonMods: (
  "error": $color__red-froly,
  "info": $color__purple-violet,
  "success": $color__green-emerald,
  "warning": $color__red-coral,
);

/* ============================================= */
/*              Buttons                          */
/* ============================================= */

/* I removed the variation class 'default' from HTML and let the btn with the default background */

.btn {
  margin-top: 15px;
  width: 100%;
  color: $color__base;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: $border__radius;
  background-color: $color__primary;
  transition: background-color 0.2s ease-out;

  &:hover {
    background-color: lighten($color__primary, 15%);
  }

  @include mediaQuery("tablet") {
    padding: 10px 30px;

    + .btn {
      margin-left: 10px;
    }
  }
}

@each $mod, $color in $buttonMods {
  .#{$mod} {
    background-color: $color;
    transition: background-color 0.2s ease-out;

    &:hover {
      background-color: lighten($color, 15%);
    }
  }
}
